
/*
    || Default colors and variables
*/

:root{
    --main-brand-color: #0A3641;
    --secondary-brand-color: #0A3641;
    --bg-color: #e4e4e4;
    --black-color: #333;
    --yellow-bg-color: #E09F3E;
    --main-white-color: #EEEEF0;
    --explore-blue-color: #6577B3;
}

a:-webkit-any-link {
    color: var(--main-white-color);
    cursor: pointer;
    text-decoration: none;
}

body {
    background-color: var(--bg-color, #e4e4e4);
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: center;
}
body::-webkit-scrollbar {
    display: none;
}

/* 
    Hides the scrollbar on the side
*/


#brand-logo{
    width: 100%;
    max-width: 300px; 
    max-height: 200px;
    scale: 0.5;
}

/* 
    || Navigation bar and Header
*/

nav {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    justify-content: space-evenly;
    list-style: none;
    z-index: 12;
    color: var(--main-white-color);
    background-color: var(--main-brand-color);
    font-size: 2rem;
    
}


nav li {
    text-decoration: none;
    align-self: center;
    color: var(--main-white-color);
}


nav li img {
    display: block;
    width: auto;
    height: auto;
    max-width: 128;
    max-height: 48px;
}

nav a:link {
    text-decoration: none;
    color: var(--main-white-color);
}

.fa-bars {
    color: var(--main-white-color);
    font-size: 2rem;
}



nav .checkbox {
    grid-column: 3/3;
    grid-row: 1/1;
    z-index: 11;
    width: 2rem;
    height: 2rem;
    opacity: 0;
    place-self:  right;
    cursor: pointer;
}

nav .hamburger {
    z-index: 10;;
    grid-column: 3/3;
    grid-row: 1/1;
}

.items {
    display: grid;
    grid-template-columns: 1fr ;
    width: 100%;
    height: 100vw;
    transform: translate(-200%);
    grid-column: 2/2;
    transition: transform 0.3s ease-in-out;
    height: min-content;
    row-gap: 2rem;
    display: none;
}

.logo {
    place-self: center;
}


nav input[type="checkbox"]:checked ~ .items {
    position: relative;
    transform: translateX(2rem);
    display: grid;
    justify-content: center;
    text-align: center;
}

nav input[type="checkbox"]:checked ~ .logo{
    display: none;
}



header {
    display: flex;
    width: 100%;
    margin: 0%;
    padding: 0%;
    align-items: center;
    justify-content: center;
    max-height: 6.8rem;

}



.banner-message p {
    align-self: flex-end;
    justify-self: right;
    grid-row-start: 2;
    font-size: 1.2rem;

}
.banner-message p {
   padding: 0%;
   margin: 0%;

}

/* 
   || Main
*/
main {
    justify-content: center;
    width: 100vw;
    grid-template-columns: 1fr;
    display: grid;
    margin: 2rem auto;
    row-gap: 2rem;
}


.base-section{
    width: 80%;
    margin: 0 auto;
    color: var(--main-brand-color);
    font-family: 'Roboto', sans-serif;
}


.section-text-part h2 {
    grid-column: 1 / 2;
    grid-row: 1 / 1;
    justify-self: center;
    align-self: center;
    padding: 0.5rem;
    margin: 1rem;
    text-align: center;
    font-size: 1.5rem;
    color: var(--main-brand-color);
}


.section-text-part .section-text {
    grid-column: 1 / 2;
    grid-row: 1 / 1;
    justify-self: center;
    align-self: center;
    text-align: center;
    color: var(--main-brand-color);
}

.color-options {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 0.5rem;
    width: min-content;
}

.color-option {
    width: 1rem;
    height: 1rem;
    border-radius: 0.5rem;
}



.hero-section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr ;
    justify-self: center;
    background-color: var(--yellow-bg-color);
    width: 85%;
}

.hero-image {
    grid-column: 1 / 2;
    grid-row: 1 / 1;
}

.hero-header {
    grid-column: 2 / 2;
    grid-row: 1 / 1;
}

.hero-text-part{
    margin: 1rem;
    grid-column: 2 / 2;
    grid-row: 1 / 1;
    
}

.hero-text {
    grid-column: 2 / 2;
    grid-row: 1 / 1;
}


/* 
   || Product showcase grid
*/
.product-showcase {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;
    row-gap: 3rem ;
    margin: 0 auto;

}


/* 
    Individual product tile
*/
.product-tile {
    padding: 1rem;
    background-color: var(--main-white-color);
    width: 100%;
    max-width: 300px;
    text-decoration:none; 

    justify-self : center;   
}
.product-tile h3,h4 {
    margin: 0.5rem 0;
    color: #333;
}
.product-tile h4 {
    font-size: 1rem;
    font-weight: 400;
}
.product-showcase :hover {
    box-shadow: none;


}
.product-tile p {
    color: #333;
}


.bg-fill{
    z-index: 0;
    grid-column: 1/6;
    grid-row: 1 / 1;
}

.mood-section{
    width: 100%;

}


.explore .section-content{
    display: grid;
    /* grid-template-columns:1fr  2fr 4fr; */
    grid-template-columns:1fr  3fr 1fr;
    grid-template-rows: 1fr;
    font: roboto;
    font-weight: bold;
    font-size: 1.5rem;
    width: 100%;
    background-color: var(--explore-blue-color);
    text-align: center;
    
    
}
.explore .text-section{
    z-index: 0;
    grid-column: 2 / 3 ;
    grid-row: 3 / 3;
    margin: auto 1rem;
    color: var(--main-white-color);
    padding: 1rem;
    
}
.explore .bg-fill{
    background-color: var(--explore-blue-color);
}

.explore .mood-image{
    z-index: 0;
    grid-column: 2 / 2;
    grid-row: 1 / 1;
    align-items: center;
}

.explore .mood-image img{
    border: 0.25rem solid var(--main-white-color);
    outline: 1rem solid var(--explore-blue-color);
}

/* asdfsdfsdfsdf */
.comfort .section-content{
    display: grid;
    grid-template-columns:[empty-section-1]1fr [image-section] 4fr [text-section]2fr [empty-section-2]1fr ;
    grid-template-rows: 1fr;
    margin: 0;
    font: roboto;
    font-weight: bold;
    color: var(--black-color);
    width: 100%;
    
}
.comfort .mood-header{
    z-index: 1;
    grid-column: 2 / 2;
    grid-row: 1 / 1;
    padding: 2rem;
}

.comfort .mood-text{
    z-index: 0;
    grid-column: 2 / 2;
    grid-row: 1 / 1;
    margin-top: auto;
    margin-bottom: auto;
    padding: 2rem;
}

.comfort  {
    background-color: var(--yellow-bg-color);
}


.comfort .mood-image{
    z-index: 0;
    grid-column: 3 / 3;
    grid-row: 1 / 1;
    align-items: center;
}


.comfort  .mood-image img{
    border: 0.25rem solid var(--main-white-color);
    outline: 1rem solid var(--yellow-bg-color);
}
/* 

|| Footer styling
*/ 
.foot {
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: repeat(3, 1fr);
    width: 100%;
    font:roboto;
    justify-content: center;
    text-align: center;
    margin: auto;
    background-color: var(--main-brand-color);
    color: var(--main-white-color);
}



.link a {
    text-decoration: underline;
}
/* 

|| Utility classes
*/ 
.margin-1-rems {
    margin: 1rem;
}

.margin-1-rems-top-bottom {
    margin: 1rem 0;
}
.margin-2-rem {

    height: 2rem;
    width: 2rem;

}
.top-left-position {
    position: absolute;
    height: 2rem;
    width: 2rem;
    top: 1rem;
    left: 1rem;
}
.top-right-position {
    position: absolute;
    height: 2rem;
    width: 2rem;
    top: 1rem;
    right: 5rem;
    
}

.sticky {
    position: sticky;
    top: 0;
    width: 100%;
}

.bg-red{
    background-color: red;
}
.bg-grey{
    background-color: grey;
}
.bg-blue{
    background-color: blue;
}
nav ul {
    list-style: none;
    padding: 0%;
}

.has-drop-shadow {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
@media (min-width: 600px) {
    .product-showcase { 
        grid-template-columns: repeat(4, 1fr); 
    }

    .explore .section-content{
        grid-template-columns:1fr 2fr 4fr 1fr ;
        grid-template-rows: 1fr;
    
    }

    .explore .text-section{
        grid-column: 3 / 3;
        grid-row: 1 / 1;
    }
    
    .explore .mood-image{
        grid-column: 2 / 2;
    }

    nav {
        display: block;
        position: static;
        width: 100%;
        background-image: url("/images/branding/wood_downscaled.png");
        background-repeat: no-repeat;
        background-size:  100% 65%;
    }



    nav .items {
        display: grid;
        padding: 1rem 0;
        grid-template-columns:1fr 4fr 1fr 1fr 1fr ;
        width: 100%;
        transform: translate(0);
        color: var(--main-white-color);
    }
    nav .items .logo {
        grid-column: 2 / 2;
        grid-row: 1 / 1;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
    }

    nav a {
        display: inline-block;
        color: var(--main-white-color);
    }


    nav .hamburger, .checkbox {
        display: none;
    }
    
    .logo {
    
        justify-self: left;
    
    }
    .banner-message{
        grid-column: 2 / 2;
    }


    .foot {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        width: 100%;
        font:roboto;
        justify-content: center;
        margin: auto;
        background-color: var(--main-brand-color);
        color: var(--main-white-color);
    }
    



  }

/* @media (min-width: 600px) {

    nav {
        display: block;
        position: static;
        width: 100%;
        background-color: aqua;
    }
    nav a {
        display: inline-block;
    }
} */